.hero {
  height: 90vh;
  background-image: url('/img/fondo.jpg');
  background-size: cover;
  background-position: center;
}

.overlay {
  height: 100%;
  background-color: rgba(92, 68, 50, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #F5F1EC;
}

.overlay h3 {
  font-size: 33px;
}

.botones {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.botones button {
  padding: 10px 18px;
  background-color: #8B6F47;
  color: white;
}